.header__logo {
  background-image: url(../../../img/logo.svg);
  width: 143px;
  height: 33px;
  background-size: cover;
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 41px;
}

@media(max-width: 768px) {
  .header__logo {
    margin: 0 auto 31.6px 27px;
    width: 103.74px;
    height: 24.4px;
  }
}