.elements__description {
  box-sizing: border-box;
  margin: 25px 15px 31px 21px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: elements__description;
  overflow: hidden;
}