.profile__avatar {
  box-sizing: border-box;
  padding: 0;
  margin: 3.75px 30px 3.75px 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  grid-area: profile__avatar;
}

@media(max-width: 880px) {
  .profile__avatar {
    margin-left: auto;
    margin-right: auto;
  }
}