.profile__info {
  box-sizing: border-box;
  margin: 0 244px 0 3.75px;
  padding: 0;
  color: #FFF;
  display: grid;
  align-items: baseline;
  grid-template-areas:
  "profile__title profile__title edit-button"
  "subtitle . .";
}

@media(max-width: 768px) {
  .profile__info {
    grid-template-areas:
    "profile__title edit-button"
    "subtitle .";
    margin: 22.25px auto 0;
  }
}