.popup__title {
  box-sizing: border-box;
  margin: 54px 0 30px;
  padding: 0 0 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media(max-width: 768px) {
  .popup__title {
    margin-top: 75px;
  }
}